.xxx-header {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.xxx-header-menu {
  display: flex;
}

.xxx-header-menu-item {
  padding: 2rem 1rem;
}
