<pre>isSelectedUser$: {{isSelectedUser$ | async | json}}</pre>
<!--<pre>posts$: {{posts$ | async | json}}</pre>-->
<main>
  <section>
    <h1>User Posts</h1>
    <div *ngIf="(isSelectedUser$ | async); else xxxNoSelectedUser">
      <div>Select a Post to View/Edit</div>
      <table>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
        <tr *ngFor="let post of posts$ | async" class="xxx-table-row" (click)="selectPost(post)">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
        </tr>
      </table>
<!--      <section>-->
<!--        <h2>Edit Post</h2>-->
<!--        <form [formGroup]="postForm">-->
<!--          <div class="xxx-form-row">-->
<!--            <div class="xxx-form-caption">id</div>-->
<!--            &lt;!&ndash;        <div class="xxx-form-text-value">{{post.id}}</div>&ndash;&gt;-->
<!--          </div>-->
<!--          <input type="text" formControlName="title" placeholder="Title">-->
<!--          <input type="text" formControlName="body" placeholder="Body">-->
<!--        </form>-->
<!--      </section>-->
    </div>
  </section>
</main>

<ng-template #xxxNoSelectedUser>
  <div>There is no selected user.</div>
  <div>Go to User page to select a user.</div>
</ng-template>
